<section >
<div class="container xl:w-[95]">
 <h2 class="text-green-600 text-2xl font-medium pb-3"> shop popular categories</h2>
</div>
<div class="mt-6">
<owl-carousel-o [options]="CategoriesCustomOptions">

    @for (category of CategoriesList(); track category._id) {
      <ng-template carouselSlide [id]="category._id">
        <img class="w-full h-75" [src]="category.image"  [alt]="category.name" [title]="category.name">
                    <h3 class="text-sm text-green-600">{{ category.name }}</h3>

      </ng-template>
    }

  </owl-carousel-o></div>
</section>