/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body {
  font-family: 'Oswald', sans-serif;
}


@layer components{
  .btn-main {
  @apply bg-green-600 py-1.75 px-5  border border-gray-300 rounded-[5px] text-white cursor-pointer disabled:cursor-not-allowed disabled:bg-gray-300 disabled:hover:bg-gray-300 hover:bg-green-700 transition-[background-color] duration-500;
}
}

@utility container {
  margin: 0 auto;
}
.card {
  @apply w-full rounded border border-gray shadow p-2 overflow-hidden;
}
.main-label{
  @apply block m-2.5 text-sm font-medium text-heading
}
.main-input{
  @apply bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-xs focus:ring-green-500 focus:border-green-600 block w-full px-3 py-2.5 shadow-xs
}
.ngx-pagination .current{
    background-color: green !important;
border-radius: 50%;}